html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Playfair Display', serif; */
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    pointer-events: none;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

p::before {
    content: "";
    position: absolute;
    left: calc((100%/2) - 200px);
    top: calc(100%/2);
    width: 400px;
    height: 40px;
    background-color: blue;
    z-index: -1
}
