@import url('https://rsms.me/inter/inter-ui.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.grainCanv {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
}

header {
    height: auto;
    width: 100%;

    font-family: 'Inter UI', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 40px;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Inter UI', sans-serif;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: normal;
}

.mainTop a {
    color: black;
    /* font-weight: bold; */
    /* text-decoration: none; */
}

main {
    height: auto;
    width: calc(100% - 100px);
    padding: 0 50px;


    display: flex;
    flex-direction: column;
}

.mainTop {
    width: auto;
    height: auto;
    margin-bottom: 50px;
    font-family: 'Inter UI', sans-serif;
    font-size: 1.5rem;
    padding-top: 100px;
}

.mainBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.listCol {
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;

    display: flex;
    flex-direction: column;
}

.listCol.lastCol {
    margin-right: 0;
}

input {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: black;
    border: 0;
    border-bottom: 2px solid black;
    border-radius: 0;

    height: 58px;
    min-height: 58px;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    order: 0;
}

input:focus {
    outline: none;
}

.listCol {
    overflow: hidden;
}

.listCol p {
    border-bottom: 2px solid black;

    height: 58px;
    min-height: 58px;
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.listCol p:hover {
    cursor: pointer;
}

.listCol p.title {
    order: 0;
}

.listCol p.title:hover {
    cursor: default;
}

#listCol_title {
    width: 46%;
}

#listCol_tags {
    width: 27%;
}

#listCol_tags p {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

#listCol_tags .previewDescription {
    padding-right: 17px;
    width: 100%;
    overflow-x: hidden;
}

#listCol_tags .previewDescription p {
    white-space: normal;
    overflow-x: hidden;
    overflow-y: scroll;
}

#listCol_date {
    width: 27%;
}

.filterToggle_date {
    border-bottom: 2px solid black;

    color: grey;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    height: 60px;
    min-height: 60px;
    width: auto;
    order: 0;
}

.filterToggle_date p {
    border: 0;
    margin-right: 10px;
}

.filterToggle_date p.active {
    color: black;
}

.filterToggle_date p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filterToggle_date p.active:hover {
    text-decoration: none;
    cursor: default;
}

.previewEl {
    height: 0;
    min-height: 0;
    width: auto;

    margin: 0;
    transition: height 0.3s, min-height 0.3s;
    overflow: hidden;
}

.previewEl.active {
    height: calc((60px * 4) - 2px);
    min-height: calc((60px * 4) - 2px);
    width: auto;
    transition: height 0.3s, min-height 0.3s;
    border-bottom: 2px solid black;
}

.previewImage {
    background-size: cover;
    background-position: center;
}

.previewImage:hover {
    cursor: pointer;
}

.previewDescription {
    overflow-y: scroll;
}

.previewDescription p {
    height: auto;
    display: block;
    border-bottom: 0;
    line-height: 30px;
    padding: 14.5px 0;
}

.previewDescription p a {
    width: auto;
    color: black;
    text-decoration: none;
}

.previewDescription p a:hover {
    text-decoration: underline;
}

.previewDescription p:hover {
    cursor: default;
}

.previewOptions p:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 50px 0;
}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer p {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7rem;
    color: grey;
    margin: 0;
    padding: 0;
    transition: opacity 0.2s;
    opacity: 0;
}

footer:hover p {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.7rem;
    color: grey;
    margin: 0;
    padding: 0;
    transition: opacity 0.2s;
    opacity: 1;
}

.blueDot {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    z-index: 100;
    transition: background-color 0.3s;
    flex-shrink: 0;
    margin-left: 50px;
}

.blueDot:hover {
    cursor: pointer;
    background-color: blue;
    transition: background-color 0.3s;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
