html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: crosshair;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

canvas {
    width: 100%;
    height: 100%;
}

.controls {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 10;
}

.controls p {
    font-size: 1.5rem;
    font-weight: 700;

    margin-right: 50px;
    margin-bottom: 25px;
    mix-blend-mode: exclusion;
}

.controls p:hover {
    color: rgb(79, 79, 79);
    cursor: pointer;
}
