html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.dg {
    z-index: 100 !important;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
}

video {
    opacity: .25;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
