@import url('https://rsms.me/inter/inter-ui.css');
html, body {
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto Mono', sans-serif; */
    font-family: 'Inter UI', sans-serif;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* cursor: none; */
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
}

.gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000000;
}

.textCont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

p {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.05);
    font-weight: 600;
}
